@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import 'reset.scss';

body {
  background-color: burlywood;
  font-family: 'Black Han Sans', sans-serif;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  .header {
    padding: 1.5rem 0;

    .logo {
      font-size: 4rem;
      text-align: center;
      color: #7a5c33;
    }
  }
}

.main-page {
  .role-box{
    background-color: #e7d6bf;
    width: 500px;
    padding: 2rem 0;
    text-align: center;
    line-height: 1.5;
  }

  .btn-box{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }

  .start-btn{
    cursor: pointer;
    width: 300px;
    height: 50px;
    background-color: #b89666;
    color: #fff;
    border: none;
    font-size: 1.3rem;
    outline: none;

    &:active,
    &:focus {
      background-color: #7a5c33;
    }
  }

  .name-box{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .player-name{
    border: 0;
    background-color: #e7d6bf;
    padding: 0.8rem 1rem;
    width: 40%;
    outline: none;
  }
}

.footer {
  font-family: sans-serif;
  position: fixed;
  bottom:10px;
  left: 0;
  right: 0;
  text-align: center;
}

.game-page {
  display: none;
  .game-board-container{
    display: flex;

    .game-board-name{
      text-align: center;
    }

    .board{
      width: 400px;
      height: 400px;
      background-color: #7a5c33;
      margin: 10px;
      tr,
      td {
        border: 1px solid #e7d6bf;
      }

      td {
        font-size: 1.5rem;
        text-align: center;
        cursor: pointer;
        line-height: 79px;
        width: 20%;

        &.active {
          background-color: #4c3315;
        }
      }


    }
  }

  .game-history-container{
    background-color: #b89666;
    padding: 10px;
    margin-top: 1.5rem;

    h3 {
      margin-bottom:1rem;
    }

    span {
      padding-right: 0.5rem;
    }
  }

  .btn-box{
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }

  .start-btn{
    cursor: pointer;
    width: 300px;
    height: 50px;
    background-color: #b89666;
    color: #fff;
    border: none;
    font-size: 1.3rem;
    outline: none;

    &:active,
    &:focus {
      background-color: #7a5c33;
    }
  }


}
